{%extends 'layout_manage.html'%}
{%block content%}
<style>
    input[type=text] ,button{
    width: 50%;
    padding: 10px 10px;
    margin-right: 350px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

</style>
<form action="{% url 'add_category' %}" method="POST" style="direction: rtl;">
<h1 style="display: flex; justify-content: center;font-family:Arial, Helvetica, sans-serif;margin-top: 50px;margin-bottom: 20px;">הוספת קטגוריה</h1>
    {%csrf_token%}
    <div>
        <input type="text" name="name" placeholder="שם קטגוריה"  minlength="4" maxlength="16" pattern="[א-תa-zA-Z]+" title="השדה חייב להכיל רק אותיות ">
    </div>
    <div>
        <input type="text" name="imageUrl" placeholder="קישורית">
    </div>
    <div>
    
    <button type="submit">הוספה</button>    
    </div>
    </form>
{%endblock%}